# توکن ربات که از @BotFather گرفته‌اید
BOT_TOKEN=

# شناسه عددی تلگرام ادمین/ادمین‌ها (با کاما جدا شود اگر چند نفر هستند)
# برای گرفتن شناسه عددی خودتان به ربات @userinfobot پیام دهید
ADMIN_IDS=

# مسیر فایل دیتابیس (نیازی به تغییر نیست)
DB_PATH=shop.db

# شماره کارتی که کاربران باید برای شارژ کیف پول به آن واریز کنند
CARD_NUMBER=0000-0000-0000-0000
